:root {
  --lightGreyText: #cccccc;
  --subText: #9d9d9d;
  --gettaBlue: #48a8f5;
  --backgroundColor: #202020;
  --darkBlack: #181818;
  --titleBorder: #474747;
  --titleBackground: #252525;
  --borderColor: #2b2b2b;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  display: flex;
  width: 100%;
}

#sidebar {
  flex: 1;
}

main {
  background-color: var(--backgroundColor);
  flex: 7;
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  width: 100%;
  display: flex;
}

.breadcrumb #select {
  width: 130px;
  padding-top: 5px;
  border-top: 3px solid var(--gettaBlue);
  border-bottom: none;
  z-index: 100;
  color: var(--lightGreyText);
  text-align: center;
  font-size: 20px;
}

.breadcrumb div {
  flex: 1;
  border-left: 5px solid var(--borderColor);
  border-bottom: 5px solid var(--borderColor);
}

main #content {
  flex: 1;
}
