.back_ground {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
}

.modal {
  /* 스타일 - customize */
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  padding: 20px;

  /* 트랜지션 효과 */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  /* 화면 전체를 덮게하는 코드 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* 중앙에 오게하는 코드 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  /* 스타일 - customize */
  max-width: 500px;
  width: 100%;
  height: 55%;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: solid 3px #3d9bf5;
  overflow: hidden;

  /* 트랜지션 효과 */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  transform: scale(0.8);

  /* 중앙에 오게하는 코드 */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal.show {
  /* 모달이 열렸을 때 보여지게 하는 코드 */
  opacity: 1;
  pointer-events: auto;
}

.modal.show .modal_content {
  /* 모달이 열렸을 때 보여지게 하는 코드 */
  opacity: 1;
  transform: scale(1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.modal_top {
  font-size: 2rem;
  color: #cccccc;
  height: 100%;
}
.modal_middle {
  align-self: flex-start;
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3%;
}
.modal_middle > div {
  width: 40%;
}
.modal_middle > div > p {
  color: #cccccc;
  font-size: 1.2em;
  padding-left: 18%;
  padding-top: 15%;
}

.modal_bottom {
  color: #cccccc;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
}
.modal_bottom > button {
  width: 30%;
  height: 50%;
  color: #cccccc;
  border: solid 2px #474747;
  background-color: #242424;
  overflow: hidden;
}
.chart-container {
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: 10%;
}
.chart {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: conic-gradient(#4caf50 0% 0%, #ddd 0% 100%);
  position: relative;
  transition: background 0.5s ease-in-out;
}

.chart::after {
  content: "";
  width: 48%;
  height: 48%;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 19px;
  font-weight: bold;
  line-height: 1.2;
  z-index: 20;
}
