#content {
  display: flex;
  align-items: center;
  margin-left: 20%;
}

#content_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10%;
}

#language {
  color: var(--lightGreyText);
  margin-bottom: 4%;
  font-size: 2.7em;
}

.language_wrapper {
  color: var(--lightGreyText);
  margin-bottom: 3%;
  font-size: 1.7em;
  background-color: var(--selectBackground);
  border-radius: 7px;
  width: 60%;
  height: 20%;
  position: relative;
  align-items: center;
  border: 2px solid transparent;
  display: flex;
}
.language_wrapper:hover {
  border-color: #007acc;
  cursor: pointer;
}
.language_name {
  padding-left: 10%;
}
.star {
  align-self: first baseline;
  width: 51px;
  height: 50px;
  background-color: #0078d4;
  border-radius: 5px 0 0 0;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  display: none;
  position: absolute;
  padding-left: 9px;
}
.language_wrapper:hover .star {
  display: flex;
}
