<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" id="css_link" href="../css/header.css" />
  </head>
  <body>
    <header id="header_header">
      <div class="header_dots">
        <p class="dot"></p>
        <p class="dot"></p>
        <p class="dot"></p>
      </div>
      <div class="header_title">🔎 Practice with Getta</div>
    </header>
  </body>
</html>
